body {
	font-family: sans-serif;	
	background-image: url("/727.jpg");
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
}


.container {
	width: 800px;
	margin:7% auto;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 17px #333;
    text-align: center;
}

.title {
	text-align: center;
	padding-top: 75px;
    font-size: 35px;
    margin-bottom: 50px;
}

.form-label {
	color: #333;
	font-size: 30px;
	margin-bottom: 20px;
}


.form-control {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 20px;
    padding: 20px;
}

.btn {
	padding-left: 0;
	background-color: #83acf1;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 70px;
    border-radius: 18%;
    font-size: 20px;
}

.btn:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #7799d4;
}


























