/* body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: #f2f2f2;
}

.container {
	background: #fff;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 8% auto 0;
	position: relative;
	z-index: 1;
	
}
mb-3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}
input {
    width: 100%;
    padding: 8px auto auto 35px;
    height: 35px;
    box-sizing: border-box;
    outline: none;
} */

body {
	align-items: center;
	background-color: white;
	display: flex;
	justify-content: center;
	height: 100vh;
  }
  
  .form {
	background-color: #303245;
	border-radius: 20px;
	box-sizing: border-box;
	height: 500px;
	padding: 20px;
	width: 320px;
  }

  .title {
	color: black;
	font-family: sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-top: 50px;
  }
  
 
  .form-control {
	background-color: lightgrey;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
  }

  .mb-3 {
	background-color: grey;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
  }

  .btn {
	background-color: #08d;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	margin-top: 38px;
	text-align: center;
	width: 100%;
  }
